{% extends "master.html" %}

{% block title %}Clara Khumalo's Portfolio{% endblock %}

{% block content %}
<!-- <nav>
    <a href="/">Home</a>
    <a href="/education-and-experience">Education and Experience</a>
    <a href="/projects">Projects</a>
    <a href="/skills-and-proficiencies">Skills and Proficiency</a>
    <a href="/socials">Socials</a>
</nav> -->
<h1>Clara Khumalo's Portfolio</h1>
<p>
    Welcome to my professional portfolio website! Here, you can explore my education, experience, projects, and skills.
    Feel free to navigate through the different sections to learn more about me and my work.
</p>
{% endblock %}