<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Clara Khumalo Projects</title>
    </head>
    <body>
        <ul>
            {% for project in projects %}
                <h1>{{ project.name }}</h1>
                <video src="{{ project.video }}" controls></video>
                <p>Tools: {{ project.tools }}</p>
                <p>Skills: {{ project.skills }}</p>
                <a href="{{ project.link }}">View on GitHub</a>
            {% endfor %}
        </ul>
    </body>
</html>