<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'script.js' %}"></script>
    {% block styles %}
    {% endblock %}
</head>
<body>
    {% block navigation %}
    <nav>
        <a href="/">Home</a>
        <a href="/about-me/">About Me</a>
        <a href="/education-and-experience">Education and Experience</a>
        <a href="/projects">Projects</a>
        <a href="/skills-and-proficiencies">Skills and Proficiency</a>
        <a href="/socials">Socials</a>
    </nav>
    {% endblock %}

    {% block content %}
    {% endblock %}
</body>
</html>